@import 'main.less';

.container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: @background;
  font-family: @font-family;
}

.content {
  min-height: 100px;
  background-color: #fff;
  margin: 80px 100px;
  padding: 20px;

  h1 {
    color: @primary-color;
    margin: 20px 0;
  }
}

.content-top {
  min-height: 200px;
  border-bottom: 5px solid @gray-border-color;
  text-align: center;

  .image-size {
    border-radius: 50%;
    margin-top: -95px;
  }

  .introduce-wrapper {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
  }
}

.content-bottom {
  .description {
    font-size: 16px;
  }
}

.education-item {
  display: flex;
  min-height: 80px;
  margin: 10px 0;

  .left {
    flex: 1;
    font-size: 16px;
    font-weight: bold;
  }

  .right {
    flex: 9;
    background-color: @background;
    padding: 10px;
    .brief {
      margin-bottom: 10px;
    }

    .detail {
      font-size: 16px;
    }
  }
}
